<footer>
  <div class="container" id="footer-top">
    <div class="row center">
      <div class="col-sm-12 left footer-top-left" id="footer-top-left">
        <div id="footer-top-wrapper" class="container center" role="main">
          <h3>Contact</h3>
          <ul>
            <li>email: <a href="mailto:helpdesk.rdss@jisc.ac.uk">helpdesk.rdss@jisc.ac.uk</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="footer-cc">
    <div class="row center">
      <div class="col-sm-12 left footer-cc-left" id="footer-cc-left">
        <div id="footer-cc-wrapper" class="container center" role="main">
          <ul>
            <li>© Jisc 2017, <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY</a></li>
            <li>RDSS Samvera <%= Rdss::SAMVERA_VERSION %></li>
            <li><%= t('hyrax.footer.copyright_html') %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
